*,
*::before,
*::after {
  box-sizing: border-box; }

ul[class],
ol[class] {
  padding: 0; }

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

ul[class],
ol[class],
li[class] {
  list-style-type: none;
  list-style: none; }

img {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

a {
  text-decoration: none; }

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: "login img"; }

* {
  font-family: 'Open Sans', sans-serif; }

a {
  color: #007c89; }

.login {
  border-left: 8px solid #ffe01b;
  grid-area: login;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  .login__container {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    align-items: center; }
  .login__logo {
    height: 38px;
    width: 38px;
    margin: 12px; }
  .login__wrap {
    max-width: 480px; }

.terms {
  margin-bottom: 30px;
  margin: 0 0 30px 20px; }

.form__username-input {
  height: 48px;
  width: 100%;
  margin-bottom: 20px; }

.form__password-input {
  height: 48px;
  width: 100%;
  margin-bottom: 20px; }

.form__forgot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px; }

.form__bottom {
  text-align: center; }

.button {
  color: white;
  background-color: #007c89;
  border: none;
  width: 100%;
  height: 48px;
  margin-top: 10px;
  margin-bottom: 20px; }

.about {
  grid-area: img;
  background-size: cover;
  background-image: url(../img/php8e5cwl.jpeg);
  background-position-x: center; }
